.theme-container
  background: url(https://www.emberjs.com/images/background-shades-a575a9b9.svg), none
  .page
    background-color: #ffffee
  .sidebar
    background-color: #ddddff
  .navbar
    background-color: #E04E39

.navbar .site-name
  color: #fff
